@import "tailwindcss";

@theme {
  --color-brand-bg: #09090b;
  --color-brand-card: #121214;
  --color-brand-border: #27272a;
  --color-brand-accent: #ffffff;

  --font-sans: "Inter", "Geist Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-brand-bg text-zinc-200 antialiased;
  }

  select option {
    @apply bg-brand-card text-white;
  }
}
